<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4> Leave a Comment</h4>
        <p> You can leave a comment using this comment form</p>

        <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)">

            <div class="form-group">
                <label for=""> Name <span class="required">*</span> </label>
                <input type="text" class="form-control shadow-effect" placeholder="Enter your name here" name="name"
                    #Name="ngModel" ngModel required [ngClass]="{'is-invalid': Name.touched && Name.invalid}">

                <div class="alert alert-danger" *ngIf="Name.touched && Name.invalid">
                    <div class="message" *ngIf="Name.errors?.['required']"> Please enter your name </div>
                </div>
            </div>

            <div class="form-group">
                <label> Comment <span class="required">*</span></label>
                <textarea rows="3" cols="10" class="form-control shadow-effect" placeholder="Your comment goes here – share away!"
                    name="comment" #Comment="ngModel" ngModel required
                    [ngClass]="{'is-invalid': Comment.touched && Comment.invalid}"></textarea>

                <div class="alert alert-danger" *ngIf="Comment.touched && Comment.invalid">
                    <div class="message" *ngIf="Comment.errors?.['required']"> Oops! Looks like you forgot to type your comment </div>
                </div>
            </div>

            <div class="alert alert-info message" *ngIf="successMessage">
                {{successMessage}}
            </div>

            <button class="btn btn-info btn-theme" [disabled]="commentForm.invalid"> Add a Comment</button>
        </form>
    </div>
</div>