<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">ABOUT US</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Welcome to <b>Kwitt's Blog Page</b>. A platform dedicated to sharing knowledge, insights, and inspiration
                across
                technology, personal development, and everyday life.</p>
            <h5>Who We Are</h5>
            <p>We are a team of passionate writers, developers, and thinkers committed to creating content that
                educates, empowers, and motivates our readers. Whether you’re looking to advance your skills, stay
                updated with practical tech tutorials, or find fresh perspectives for your personal growth, this blog is
                here to support your journey.</p>
            <h5>What We Do</h5>
            <p>We focus on:</p>
            <ul>
                <li><b>Tech Tutorials & Guides</b></li>
                <p>Simplifying complex concepts to help you learn and apply them confidently.</p>

                <li><b>Personal Growth & Development</b></li>
                <p>Sharing insights and strategies to help you become the best version of yourself.</p>

                <li><b>Reflections & Inspiration</b></li>
                <p>Providing honest, relatable content that uplifts and encourages you in your daily life and career.
                </p>
            </ul>

            <h5>Our Mission</h5>
            <p>To educate, inspire, and empower individuals to keep learning, growing, and making meaningful impacts
                in their fields and communities.</p>

            <h5>Join Our Community</h5>
            <p>We believe learning never stops, and growth is a journey best shared. We invite you to engage with our
                posts, share your thoughts, and become part of a community committed to continuous learning and
                purposeful living.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm btn-theme mt-4" routerLink="/"> Back to Home</button>
            </div>
        </div>
    </div>
</section>